
@model BlogPlatform.Models.Comment


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Post Detail</title>
</head>
<body>
    <h1>Post</h1>
    <hr />
    <h4> Comment ID: @Model.Id</h4>
    <h4>Comment Name: @Model.Name</h4>
    <hr />
    <h4>My Post</h4>
   

    
</body>
</html>

