@model IEnumerable<BlogPlatform.Models.Comment>

@section styles{
    <link rel="stylesheet" href="" />
}


<h1>Comments</h1>
<hr />
<div class="comments">
    <ul>
        @foreach (var content in Model)
        {
            <li><a href="/Comment/Details/@content.Id">@content.Name</a></li>

        }
    </ul>
</div>

@section scripts{
    <script></script>}

